.post-header {
  display: flex;
  align-items: center;
  .avatar-container {
    height: 80px;
    .rounded-circle {
      height: 100%;
    }
    .placeholder {
      background: grey;
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
  }
}