.post-header {
  display: flex;
  align-items: center;
  .avatar-container {
    height: 80px;
    .rounded-circle {
      height: 100%;
    }
    .placeholder {
      background: grey;
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
  }
}

.post-image {
  width: 400px;
}

.card {
  width: 460px;
  .card-body {
    padding: 30px;
    
  }
}

.container_2 {
  width: 460px;
}

.posts-header {
  text-align: center;
  font-size: 3.5rem;
  margin: 40px;
  font-weight: 800px;
}

